
.table1 th {
    padding-right: 20px;
}

.table2, .table2 th, .table2 tr {
    border: 1px solid black;
}

.table2 th {
    padding-right: 10px;
    padding-left: 10px;
}

.table3, .table3 th, .table3 tr {
    border: 1px solid black;
}

.table3 th {
    padding-right: 10px;
    padding-left: 10px;
}

.tr1 th {
    width: 200px;
    background: dodgerblue;
}

.tr2 th {
    width: 200px;
}

.tr3 th {
    width: 200px;
    background: blueviolet;
}

.tr4 th {
    width: 200px;
    text-align: center;
}

.button1 {
    font-size: 18px;
}








