<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Config console</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h2>
<!--    <table class="table1">-->
<!--        <tr>-->
<!--            <th><a href="/">MAIN</a></th>-->
<!--            <th><a href="/devices/online">ONLINE</a></th>-->
<!--            <th><a href="/devices/offline">OFFLINE</a></th>-->
<!--            <th><a href="/devices/all">ALL</a></th>-->
<!--            <th><a href="/help">HELP</a></th>-->
<!--            <th th:utext="${time}"></th>-->
<!--        </tr>-->
<!--    </table>-->
</h2>

<img th:src="@{'data:image/png;base64, ' + ${screen1}}" />

<img th:src="@{'data:image/png;base64, ' + ${screen2}}" />



<!--<h3 th:utext="${location}">LOCATION</h3>-->
<h2>Здесь могла бы быть ваша реклама!</h2>

</body>
</html>